 html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
    text-align: center;
    background-image: url(assets/imgs/bg-full-img.png);
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    color: white;
  }

.hero-section {
  width: 100%;
  height: 100vh;
}

h1{
  font-weight: lighter;
  text-align: center;
  font-size: 110px;
  line-height: 38px;
  letter-spacing: 50px;
  text-indent: 50px;
}

.fname{
  position: absolute;
  top: 34%;
  width: 100%;
  text-align: center;
}

.lname{
  position: absolute;
  top: 51%;
  width: 100%;
  text-align: center;
}

.designation{
  position: absolute;
  top: 27%;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
}

.menu-btn {
  float: right;
  /* margin: 1em; */
  cursor: pointer;
  font-size: 30px;
  margin: 31px 33px 0 0;
}

.menu {
  float: right;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #040B0E;
  opacity: 0;
  background: radial-gradient(ellipse at center, #323A3F 0%, #323A3F 35%, #040B0E 100%);
  overflow: hidden;
}

.close-menu {
  float: right;
  font-size: 30px;
  cursor: pointer;
  margin: 31px 33px 0 0;
  color: grey;
  z-index: 1;
}

.nav {
  position: absolute;
  left: 21%;
  margin-top: 8%;
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

.main-menu-item {
  padding-top: 30px;
  text-align: left;
  font-size: 24px;
}

.main-menu-item a {
  text-decoration: none;
  color: #fff;
}

.submenu-item a {
  color: #ffffffab;
}

.submenu li {
  margin: 20px 0;
}

i.fas.fa-plus{
  position: relative;
  font-size: 9px;
  opacity: 0.4;
}

.submenu {
  display: none;
  text-align: left;
  margin-left: 2em;
  font-size: 18px;
}

.contact {
  color: #fff;
  position: absolute;
  bottom: 70px;
  right: 24%;
}

.contact p {
  color: #000;
  font-weight: bolder;
  text-shadow: 0px 0 #000000;
  letter-spacing: 1.2px;
  text-align: left;
  align-items: baseline;
  margin: 1em 0 0 0;
  /* font-family: "Helvetica"; */
}

.media {
  font-weight: bold;
  position: absolute;
  bottom: 70px;
  left: 22%;
}

.media ul {
  list-style: none;
}

.media ul li {
  display: inline-block;
  color: #000;
  font-weight: bolder;
  text-shadow: 0px 0 #000000;
  letter-spacing: 1.2px;
  padding-right: 16px;
}

@media(max-width: 768px) {
  .nav {
        margin-top: 20%;
  }

  .contact {
        display: none;
  }
}

.logo{
  float: left;
  width: 100px;
  height: 48px;
  margin: 31px 0 0 35px;
}

  /* .hamburger{
    float: right;
  }


input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
  width: 110px;
  height: 110px;
}

@media (min-aspect-ratio: 1/1) {
  label {
    width: 110px;
    height: 110px;
  }
}

path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

.cross input:checked+svg .line--1,
  .cross input:checked+svg .line--3 {
    --length: 22.627416998;
  }

.cross input:checked+svg .line--2 {
    --length: 0;
  }

.back input:checked+svg .line--1,
  .back input:checked+svg .line--3 {
    --length: 8.602325267;
  }

.menu--2 .line--1,
  .menu--2 .line--3 {
    --total-length: 111.22813415527344;
    --offset: -50.22813415527344;
  }

.menu--2 .line--2 {
    --total-length: 99;
  }

.menu--2 input:checked+svg path {
      transform: translateX(30px);
    }

.menu--2 input:checked+svg .line--1,
    .menu--2 input:checked+svg .line--3 {
      --offset: -16.9705627485;
    }

.menu--2 input:checked+svg .line--2 {
      --offset: -20;
    } */
.btn-sec{
  width: 100%;
  position: absolute;
  top: 78%;
}

button {
  /* transform: translate(-17%, 0%); */
  margin: 0 20px 20px 20px;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;  
}

.custom-btn {
  width: 200px;
  height: 60px;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #e0e5ec;
}

.btn-11:hover {
  background: #000;
  color: #fff;
  border: 1.5px solid white;
}

.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


:root {    
  --color-icon: #fff;  
  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #e4405f;
  --social-icon4: #cd201f;
  --social-icon5: #0077B5;  
}

ul,li {
  margin: 0;
  padding: 0; 
}

section {
  position: absolute;
  top: 64%;
  /* z-index: 1; */
}

.icon-item {
  list-style: none;
}

.icon-link {  
  display: inline-flex;
  font-size: 1.5rem;  
  text-decoration: none;  
  color: var(--color-icon);
  width: 3rem;
  height: 3rem;   
  transition: .5s linear;
  position: relative;
  margin: auto
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;    
}

.icon-link::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}
  
.icon-link:hover::before {  
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before { 
  background: var(--social-icon1); 
}

.icon-item:nth-child(2) a:hover:before { 
  background: var(--social-icon2); 
}

.icon-item:nth-child(3) a:hover:before { 
  background: var(--social-icon3); 
}

.icon-item:nth-child(4) a:hover:before { 
  background: var(--social-icon4); 
}

.icon-item:nth-child(5) a:hover:before { 
  background: var(--social-icon5); 
}

@media(max-width: 1200px) {
  h1 {
    font-size: 80px;
  }
  .designation {
    font-size: 24px;
  }
  .custom-btn{
      width: 170px;
      height: 51px;
      font-size: 14px;
  }
}

@media(max-width: 890px) {
  h1 {
    font-size: 50px;
  }
  .designation {
    top: 33%;
    font-size: 22px;
  }
  .btn-sec{
    top: 70%;
    /* text-align: center; */
  }
  .fname {
    top: 42%;
}
  .lname {
    top: 52%;
}
}

@media(max-width: 768px) {
  .icon-list{
    visibility: hidden;
    display: none;
  }
}

@media(max-width: 670px) {
  h1 {
    font-size: 40px;
    letter-spacing: 30px;
    text-indent: 30px;
  }

  .designation {
    font-size: 18px;
  }

  .custom-btn{
    width: 170px;
    height: 51px;
    font-size: 14px;
}
}

html,
body {
  height: 100%;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(180deg, #323A3F 0%, #323A3F 35%, #040B0E 100%); */
  background: #445455;
}

.wave {
  background: url(assets/imgs/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
	100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
	display:none;
}